@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial;
    width: 100%;
    height: 1000px;
    margin: auto;
    padding: 0%;

}
.header{
    background-color: #e9d8f4;
    color: #58257b;
    text-align: center;
    padding: 20px;
    /* position: fixed;
    z-index: 1; */
}
.slideshow-container{
    max-width: 90%;
    position: relative;
    margin: 5%;
}
.myslide{
    width: 90%;
}
.menu{
    background-color:rgb(154, 154, 240);
    margin: 0.1% 5% 0.1% 5%;
    height: 50px;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
.menu li {
    color: #f1f1f1;
    display: inline-block;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 50px;
    margin-left: -5px;
  }
.menu a{
    text-decoration: none;
    color: #fff;
    display: block;
    text-align: center;
}
.menu a:hover{
    background-color: #f1f1f1;
    color: #58257b;
}
.menu ul input {
    margin-left: 200px;
    border-radius: 5px;
    width: 300px;
    height: 30px;
}
.menu ul button{
    height: 30px;
    width: 70px;
    border-radius: 5px;
}
.left{
    background-color: green;
    width: 25%;
    height: 800px;
    margin: 0% 5% 1% 5%;
    float: left;
    position: absolute;
}
.content{
    background-color: #58257b;
    width: 64%;
    height:800px;
    float: left;
    margin-left: 31%;
}
.footer{
    background-color: brown;
    height: 100px;
    margin-top: 810px;
    width: 90%;
    margin-left: 5%;
    position: absolute;

}